{% extends "base.html" %}
{% block body %}
<h1>Registro de Usuario</h1>
<form method="POST"> {# Default action to the same page #}
  {{ form.hidden_tag() }} {# Renders any hidden fields, including the CSRF #}
  {% for field in form if field.widget.input_type != 'hidden' %}
    {# Display filed #}
    <div class="field">
      {{ field.label }} {{ field }}
    </div>
    {# Display filed's validation error messages, if any #}
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="field_error">{{ error }}</div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  <input type="submit" value="Enviar datos">
</form>
{% endblock %}