body{
	font-size: 18px;
}

ul{
	color: blue;
	background: #ccc;
	text-align: center;
}

li{
	color: black;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid white;
}

li:hover{
	color: red;
	background: black;
}